<main class="container">
  <section id="intro">
    <h1>Dog breed database</h1>
    <p>Venture into the fascinating world of dog breeds. Discover their unique characteristics, origins and care needs in our comprehensive guide. Whether a seasoned dog lover or in search of your perfect furry friend - find all the answers here!</p>
  </section>
  <section id="filter">
    <h3>Filter by breed name</h3>
    <input 
      type="search" 
      id="search" 
      placeholder="Breed name"
      (input)="filterBreeds($event.target)"
    >
  </section>
  <section id="results">
    <h4>{{breeds?.length}} results</h4>
    <div id="list" >
      <app-list-item 
        *ngFor="let breed of filteredBreeds" 
        [name]="breed?.name" 
        [id]="breed?.reference_image_id"
      ></app-list-item>
    </div>
  </section>
</main>